ConsoleAppTest/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IServiceGame_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceGame_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_SendCoord_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCoord" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_SendCoord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCoordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_GetAllPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayers" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_GetAllPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_GetPositionPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionPlayer" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_GetPositionPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_GetPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPoint" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_GetPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServiceGame">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/Login" message="tns:IServiceGame_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/LoginResponse" message="tns:IServiceGame_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendCoord">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/SendCoord" message="tns:IServiceGame_SendCoord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/SendCoordResponse" message="tns:IServiceGame_SendCoord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/GetAllPlayers" message="tns:IServiceGame_GetAllPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/GetAllPlayersResponse" message="tns:IServiceGame_GetAllPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPositionPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/GetPositionPlayer" message="tns:IServiceGame_GetPositionPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/GetPositionPlayerResponse" message="tns:IServiceGame_GetPositionPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/Test" message="tns:IServiceGame_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/TestResponse" message="tns:IServiceGame_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/GetPoint" message="tns:IServiceGame_GetPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/GetPointResponse" message="tns:IServiceGame_GetPoint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IServiceGame" type="tns:IServiceGame">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IServiceGame_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCoord">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/SendCoord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/GetAllPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionPlayer">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/GetPositionPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoint">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/GetPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGame">
    <wsdl:port name="WSDualHttpBinding_IServiceGame" binding="tns:WSDualHttpBinding_IServiceGame">
      <soap12:address location="http://localhost:8733/Design_Time_Addresses/WcfService/ServiceGame/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8733/Design_Time_Addresses/WcfService/ServiceGame/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>DSTEH</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>